*{
	box-sizing: border-box;
}

.left{
	width: 50%;
	float: left;
}

.right{
	float: right;
}

.logoFrame {
	margin-left:20px;
}

.logo{
	width: 100px;
	height: 50px;
	margin-top: 20px;
	margin-left: 50px;
}

.intro{
	width: 75%;
	margin: auto;
	text-align: center;
}

.intro h1{
	margin: auto;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
}

.fa-long-arrow-alt-right{
	font-size: 30px;
}

.description{
	width: 75%;
	margin: auto;
	margin-bottom: 50px;
	text-align: left;
}

.description .p1, .description .p2{
	font-family: 'Playfair Display', serif;
	text-indent: 50px;
}

.ui-clip{
	height: 300px;
	width: 300px;
}

.start-container {
	display: inline-block;
	width: 100%;
	margin: 50px auto;
	text-align: center;
}

#start{
	width:150px;
	height: 40px;
	border-radius: 10px;
	font-weight: 900;
	font-size: 15px;
	border:3px solid #FF0038;
	font-family: 'Libre Franklin', sans-serif;
	cursor: pointer;
}




