.logoFrame {
  margin-left:20px;
}

.logo{
  width: 150px;
  height: 75px;
  margin-top: 20px;
  margin-left: 50px;
}

.menu-title h4{
  font-family: 'Open Sans Condensed', sans-serif;
}

.flip {
    height: 199px;
    width: 300px;
    margin: 0 auto;
}
.flip img {
    height: 300px;
    width: 300px;
}
.flip .back {
    height: 300px;
    text-align: center;
}

.cat-select{
  display: block;
  margin-top: 75px;
}

.cat-confirm:hover{
  cursor: pointer;
}

.cat-confirm{
  width:55%;
  height: 60px;
  border-radius: 10px;
  border:1.5px solid #FF0038;
  background-color: #FF0038;
  color: white;
  font-weight: 600;
  font-size: large;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#priceFilter, #ratingFilter {
	display: inline-block;
}

.price-option, .rating-option {
	display: inline-block;
}

.rating-stars ul, .rating-dollars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star, .rating-dollars ul > li.usd {
  display:inline-block;
  cursor: pointer;
}

.rating-stars .star .fa, .rating-dollars .usd .far {
  font-size:2.5em;
}

 .rating-dollars .usd.rating-1 .far{
  font-size:2.5em;
 }

.rating-dollars .usd.rating-2 .far{
  font-size:3em;
 }

.rating-dollars .usd.rating-3 .far{
  font-size:3.5em;
 }

.rating-dollars .usd.rating-4 .far{
  font-size:4em;
 }

.usd[data-index="1"], .usd[data-index="3"], .usd[data-index="6"]{
  margin-left: 25px;
}

.rating-dollars .usd .far{
  color: rgb(69,181,82);
  padding:none 20px;
}

.rating-dollars .usd.active .far {
  color:#00ff18;
  border-bottom: 2px dashed #FF0038;
}

.rating-stars ul .star.hover .fa{
  color:black;
}

.rating-stars .star.include .fa{
  color:#f7e91a;
}

.rating-stars .star.exclude .fa{
  color:black;
}

#dollars,#stars{
  margin-top: 50px;
  text-align: center;
}

.menu-title{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.section-wrapper{
  margin-bottom: 150px;
}

.js-choice-meaning{
  text-align: center;
}

#slider{
  width:400px;
  margin: auto;
}

.handle:hover{
  cursor: pointer;
}

#sortable{
  max-width: 400px;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

#sortable .pref{
  background-color: white;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  padding: 11px 0 11px 20px;
  margin-bottom: 2px;
}

#sortable .pref .handle{
  float:right;
  line-height: 40px;
  font-size: 20px;
  margin-right: 20px;
}

.nav-buttons{
  margin-top:150px;
  width: 100%;
  position: relative;
}

.back,.next{
  position:absolute;
  bottom:10px;
  padding: 15px;
  color: white;
  text-shadow: -1px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1px black;
  font-weight: 600;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
  border: none;
}

.back.left{
  left:100px;
}

.next.right{
  right:100px;
}

#nav-menu{
  position: fixed;
  z-index:100;
  margin-top:-53.5px;
  top:50%;
  opacity: 1;
}

#nav-menu li{
  margin-top: 12px;
  list-style: none;
}

#nav-menu.right{
  right: 17px;
}

#nav-menu .icon{
  font-size:20px;
}

#nav-menu .lightbulb{
  color:red;
}

#nav-menu .dollar-sign{
  color:green;
}

#nav-menu .thumbs-up{
  color:yellow;
}

#nav-menu .car{
  color:blue;
}

#nav-menu .smile{
  color:pink;
}

#nav-menu li.active .icon{
  font-size: 30px;
}

#nav-menu li:hover .icon{
  font-size: 25px;
}

.range-animation{
  display: inline-block;
  margin-left: 100px
}

.range-animation li{
  list-style: none;
}

.red{
  background-color: #FF0038;
  height: 3px;
  width: 5px;
}

.dash{
  display: inline-block; 
}

.dash svg{
  width:20px;
  height: 20px;
}

.slider-wrapper{
  width: 50%;
  margin:auto;
}

.hide-it{
  display:none;
}


