.venue-name{
    width: 50%;
    margin: auto;
    text-align: center;
  }

.venue-info{
    text-align: center;
  }

.venue-web, .venue-address{
    width: 50%;
    margin: auto;
  }

.venue-descript{
    width: 75%;
    margin: auto;
    text-align: center;
  }

.viewport {
    position: relative;
    width: 300px;
    margin: auto;
    height: 400px;
    overflow: hidden;
    background-color: #fff;
  }

  .vp-c1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-left: 2px solid gold;
    border-top: 2px solid gold;
  }

  .vp-c2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-top: 2px solid blue;
    border-right: 2px solid blue;
  }

  .vp-c3 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-right: 2px solid #00ff18;
    border-bottom: 2px solid #00ff18;
  }

  .vp-c4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #FF0038;
    border-left: 2px solid #FF0038;
  }

  .flip-book {
    position: relative;
    display: block;
    width: 200px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    perspective: 200px;
    perspective-origin: 50% 25%;
  }

  .flip-book li {
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
    transition-delay: 100ms;
    transition: all 200ms ease-in-out;
  }

  .flip-book .photo-slot {
    display: block;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    color: #444;
    font-size: 150px;
    font-weight: bold;
    line-height: 200px;
    cursor: pointer;
    text-shadow: 2px 2px rgba(255,255,255,0.33);
    transition: all 200ms ease-in-out;
  }

  .photo {
    display: block;
    width: 100%;
    height: 100%;
  }

  .photo-slot.c1 {
    background-color: #fc0;
  }

  .photo-slot.c2 {
    background-color: #9c3;
  }

  .photo-slot.c3 {
    background-color: #f60;
  }

  .photo-slot.c4 {
    background-color: #e850b2;
  }

  .flip-book li:nth-child(1) {
    display: block;
    z-index: 40;
    transform: translate3d(0, 120px, 40px);
    box-shadow: 0 0 8px 8px rgba(0,0,0,0.15);
  }

  .flip-book li:nth-child(1) span {
    opacity: 1;
  }

  .flip-book li:nth-child(2) {
    display: block;
    z-index: 30;
    transform: translate3d(0, 80px, 20px);
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.175);
  }

  .flip-book li:nth-child(2) span {
    opacity: 0.7;
  }

  .flip-book li:nth-child(3) {
    display: block;
    z-index: 20;
    transform: translate3d(0, 40px, 10px);
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
  }

  .flip-book li:nth-child(3) span {
    opacity: 0.4;
  }

  .flip-book li:nth-child(4) {
    display: block;
    z-index: 10;
    transform: translate3d(0, 20px, 0);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.225);
  }

  .flip-book li:nth-child(4) span {
    opacity: 0.1;
  }

  .flip-book li.pop {
    opacity: 0;
    transition-duration: 250ms;
    transform: translate3d(0, 240px, 80px);
  }

  #up,#down{
    border: none;
    cursor: pointer;
  }

  .flip-up, .flip-down{
    text-align: center;
  }

  .fa-angle-up,.fa-angle-down{
    font-size: 3em;
  }

  .travel-methods{
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .method-circle{
    border: 2px solid red;
    border-radius: 50%;
  }

  .travel-methods .method{
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding: 10px;
  }

  .travel-methods li {
    list-style: none;
    display: inline-block;
    margin: 0 5%;
  }

  .method-circle.current{
    border-color: green;
  }

  #map{
    height: 600px;
    width: 100%;
  }

  #ven-stars, #ven-pricing, .ven-usdcount{
    margin-top: 0;
    margin-bottom: 0;
  }

  #ven-stars, .ven-usdcount{
    padding-left: 0;
  }

  #ven-stars li{
    list-style: none;
    display: inline-block;
  }

  #ven-stars{
    float: right;
  }

  .stars-outer {
    position: relative;
    font-family: FontAwesome;
  }
   
  .stars-outer::before {
    content: "\f006";
    font-size: 1em;
  }
   
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    font-size: 1em;
  }
   
  .stars-inner::before {
    content: "\f005";
    color: #f8ce0b;
  }

  .ven-name{
    font-family: 'Raleway', sans-serif;
  }

  .ven-stats{
    width: 100%;
  }

  #ven-pricing .ven-usdcount{
    display: inline-block;
  }

  .ven-usdcount .ven-usd{
    list-style: none;
    display: inline-block;
  }

  .ven-usd .fa-dollar-sign{
    font-size: 1em;
    color: green;
  }

  #ven-rating, #ven-pricing, #ven-distance{
    display: inline-block;
    height: 25px;
  }


@media only screen and (min-width: 1100px){

  .viewport {
    width: 300px;
    height: 400px;
  }

  .vp-c1,.vp-c2,.vp-c3,.vp-c4 {
    width: 20px;
    height: 20px;
  }

  .flip-book {
    width: 200px;
    height: 100%;
    perspective: 200px;
  }

  .flip-book li {
    width: 200px;
    height: 200px;
  }

  .flip-book .photo-slot {
    font-size: 150px;
    line-height: 200px;
  }

  .photo {
    width: 100%;
    height: 100%;
  }

  .travel-methods{
    width: 100%;
  }

  .travel-methods .method{
    height: 50px;
    width: 50px;
    padding: 10px;
  }

  .travel-methods li {
    margin: 0 5%;
  }

  #map{
    height: 600px;
    width: 100%;
  }
}




